*{font-family: "microsoft yahei";box-sizing: border-box;padding: 0;margin: 0;color: inherit;}
body{background: #f1f1f1;}
img{border: none;}
ul{list-style: none;}
.text-muted{color: #666;font-size: 15px;font-weight: bold;}
a{text-decoration: none;}
.w1200{width: 1200px;height: auto;margin: 0 auto;overflow: hidden;font-size: 16px;color: #111;}
.header{width: 100%;height: auto;overflow: hidden;margin-bottom: 20px;}
.header .bar{border: 1px solid #ddd; border-top: 3px solid #fa7d3c; background:#eeeeee;height: 50px;line-height: 50px;color: #fff;}
.header .bar .l{float: left;}
.header .bar .l font{font-size: 22px;border-left: 2px solid #555;margin-left: 20px;padding-left: 20px;}
.header .bar .r{float: right;display: inline-block;}
.header .bar .r:hover{color: tomato; transition: all 0.5s;}
.header .bar .r i{padding-right: 10px;}
.header .user-info{height: 100px;width: 100%;background: url(../images/user_info_bg.jpg) center center no-repeat;background-size: cover;}
.header .user-info .user-headface{float: left;width: 75px;height: 75px;overflow: hidden;border-radius: 50%;margin-top: 12px;}
.header .user-info .user-headface img{width: 100%;height: 100%;}
.header .user-info .user-account{float: left;margin-top: 25px;padding-left: 20px;color: #666;}
.header .user-info .user-account .tip{margin-bottom: 5px;}
.header .user-info .user-account .account span{font-size: 13px;padding-right: 20px;}
.header .user-info .user-modify{float: right;margin-top: 30px;width: 110px;height: 40px;text-align: center;line-height: 40px;color: #fff;background: #62ab00;border-radius: 5px;}
.main .left{float: left;width: 200px;height: auto;overflow: hidden;margin-right: 20px;background: #fff;}
.main .left ul li{width: 100%;height: 50px;line-height: 50px;color: #666666;}
.main .left ul li a{display: block;width: 100%;height: 100%;padding-left: 20px;}
.main .left ul li a i{font-size: 20px;padding-right: 5px;}
.main .left ul li a.active{border-left: 3px solid #62ab00;background: #f3f7ed;color: #62ab00;}
.main .left ul li a:hover{border-left: 3px solid #62ab00;background: #f3f7ed;color: #62ab00;}
.main .right{float: left;width: 980px;height: auto;overflow: hidden;}
.main .right .tap{width: 100%;height: 40px;border-bottom: 2px solid #62ab00;background: #f9fafa;}
.main .right .tap span{display: block;width: 128px;height: 100%;line-height: 40px;color: #fff;text-align: center;background: #62ab00;}
.main .right .container{width: 100%;height: 800px;overflow: hidden;background: #fff;}
.main .right .container .no-doc{width: 100%;height: 350px;text-align: center;color: #999;font-size: 13px;}
.main .right .container .no-doc img{padding-top: 80px;}

/* 评论页的样式 */
/* body{background:#ccc} */
#qq{width:600px;/*宽*/height:170px;/*高*/background:#fff;/*背景颜色*/
margin:10px 0px 0px 0px; border-radius:5px;/*Html5 圆角*/}
#qq p{font-size:12px; color:#666; font-family:"微软雅黑";
line-height:45px; text-indent:20px;}
#qq .message{width:560px; height:70px;margin:0px auto; outline:none;
border:1px solid #ddd; /*粗细 风格 颜色*/}
#qq .But{width:560px;height:35px;margin:15px auto 0px; position:relative;/*相对，参考对象*/}
#qq .But img.bq{float:left;/*左浮动*/}
#qq .But span.submit{width:80px;height:30px; background:#ff8140;display:block; float:right;/*右浮动*/								line-height:30px;border-radius:5px;								cursor:pointer;/*手指*/color:#fff;font-size:12px;					text-align:center;font-family:"微软雅黑";}

/*face begin*/
#qq .But .face{width:390px; height:160px; background:#fff; padding:10px;
border:1px solid #ddd; box-shadow:2px 2px 3px #666;
position:absolute;/*绝对定位*/ top:21px; left:15px;
display:none;/*隐藏*/}
#qq .But .face ul li{width:22px;height:22px; 
list-style-type:none;/*去掉圆点*/ float:left;
margin:2px; cursor:pointer;}

/*msgCon begin*/
.msgCon{width:600px;height:500px; margin:0px auto;}
.msgCon .msgBox{ background:#fff;
padding:10px; margin-top:20px;}
.msgCon .msgBox dl{width: 560px; height:100px; margin-top: 20px; border-bottom:1px dashed #ccc;margin-left: -10px;}
.msgCon .msgBox dl dt{width:50px; height:50px;float:left;}
.msgCon .msgBox dl dt img{border-radius:25px;}
.msgCon .msgBox dl dd{width:500px; height:50px;  line-height:50px;float:right; font-size:16px;font-family:"微软雅黑";}
.msgCon .msgBox .msgTxt{font-size:12px; color:#666; line-height:25px;}